# build output
dist/
.output/

# dependencies
node_modules/

# generated types
.astro/

# cloudflare / wrangler
.wrangler/

# environment variables
.env
.env.production

# macOS
.DS_Store
._*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
node_modules
